*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // Definition here is for 1 rem calculation
    font-size: 62.5%;
    /* 10/16=.625 because 10px is what we want by default */

    @include respond-phone {
        font-size: 50%;
    }
}

body {
    box-sizing: border-box;
}
